
html, body {
    height: 100%;
    margin: 0;
}

.big_div {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(52, 52, 52);
    display: flex;
    /* 子元素显示在中心 */
    justify-content: center; /*水平*/
    align-items: center; /*垂直*/
}

.dark_color_div{
    height: 90%;
    width: 90%;
    position: relative;
    background-color: rgb(22, 22, 22);
    border-radius: 30px; /* 圆角边框 */
    display: flex;
    flex-direction: column; /* 纵向排列 */
    overflow:hidden;/* 超出部分裁剪 */
}
.up_div{
    height: 12.5%;
    width: 100%;
    display: flex;
    align-items: center; /*垂直*/
    justify-content: space-around; /* 均匀分布 */
}

.up_select{/* 上面的选择框 */
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:30px;
    border-radius: 10px; /* 圆角边框 */
    background-color: transparent;
    border: none; /* 无边框 */
    color: rgb(220, 220, 220);
    white-space: nowrap; /* 禁用文字换行 */
    overflow:hidden;/* 超出部分裁剪 */
}

.search_input{/*搜索框*/
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px; /*字体大小*/
    text-align: center; /*文字居中*/
    border: none; /* 移除所有边框 */
    outline: none; /* 移除聚焦时的默认蓝色边框 */
    background-color: rgb(38, 38, 38);
    color: rgb(220, 220, 220);
    border-radius: 10px; /* 圆角边框 */
}

.up_button{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    border-radius: 10px; /* 圆角边框 */
    background-color: rgb(38, 38, 38);
    border: none; /* 无边框 */
    color: rgb(127, 127, 127);
    white-space: nowrap; /* 禁用文字换行 */
}
.up_button:hover {
    /*按钮悬停样式改变*/
    background-color: rgb(48, 48 , 48);
}

.line_div{
    height: 1.3px; /* 线的厚度 */
    width: 100%; /* 线的长度等于父容器的宽度 */
    background-color: rgb(55, 55, 55);
}
.middle_div{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center; /*垂直*/
    overflow:hidden;/* 超出部分裁剪 */
}

.dark_component{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 10px; /* 圆角边框 */
    background-color: rgb(38, 38, 38);
    border: none; /* 无边框 */
    color: rgb(127, 127, 127);
    white-space: nowrap; /* 禁用文字换行 */
}

.dark_component:hover {
    /*按钮悬停样式改变*/
    background-color: rgb(48, 48 , 48);
}

.down_div{
    width: 100%;
    flex-grow: 1; /* 占据剩余部分 */
    display: flex;
    position: relative;
    flex-direction: column; /* 纵向排列 */
    align-items: center; /* 按钮在容器内居中 */
    overflow:hidden;/* 超出部分裁剪 */
}

.down_line{
    position: absolute;/* 相对定位 */
    top: 0;
    left: 5%; /* 将线放置在容器的左边（水平） */
    width: 1.5px; /* 线的厚度 */
    height: 100%; /* 线的长度等于父容器的高度 */
    background-color: rgb(127, 127, 127);
}

.dark_point{
    position: absolute;/* 绝对定位 */
    width: 20px; /* 点的直径 */
    height: 15px; /* 点的直径 */
    left: 5%; /* 将点放置在容器的左边（水平） */
    background-color: rgb(127, 127, 127);
    border-radius: 50%; /* 使元素呈现为圆形 */
    transform: translate(-50%, 0%); /* 通过transform调整位置，居中到线上 */
}

.list_div{
    height: 60px;
    width: 100%;
    display: flex;
    place-items: center; /* 水平和垂直居中 */
    white-space: nowrap; /* 禁用文字换行 */
    font-size: 25px;
    color: rgb(191, 191, 191);
}

.list_div:hover {
    /*按钮悬停样式改变*/
    background-color: rgb(32, 32 , 32);
}

.list_span{
    margin-left: 10%;
    white-space: nowrap; /* 禁用文字换行 */
    width: 90%;
}